@page
@model ServiceAuto1.Pages.Facturi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Facturi</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Factura[0].ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura[0].Descriere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura[0].Valoare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura[0].Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Factura) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valoare)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
